[user]
	name = kjplunkett
	email = kplunkett@myemma.com
[alias]
	ci = commit
	st = status
	pom = push -u origin master
	cim = commit -m
	a = add
	co = checkout
	po = push -u origin
	pop = push -u origin preview-app
