"*":
  editor:
    invisibles: {}
    tabLength: 4
    showIndentGuide: true
    fontFamily: "Menlo "
    fontSize: 12
  core:
    themes: [
      "seti-ui"
      "monokai"
    ]
    disabledPackages: [
      "wrap-guide"
    ]
  "exception-reporting":
    userId: "14d82a1e-52a0-4c56-67af-7c3226020307"
  welcome:
    showOnStartup: false
